{% extends 'layouts/base.html' %}

{% block content %}
<main class="container p-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae mollitia quam facilis obcaecati, quos labore veniam at aperiam enim sapiente recusandae magnam nobis consectetur placeat dignissimos impedit odit quas in modi cupiditate deleniti dolorem. Non odio totam autem libero rerum, ea perspiciatis, nemo sit asperiores ipsa impedit aut possimus, hic numquam accusamus earum ratione placeat reiciendis architecto provident sint nihil. Dolorum suscipit sequi laudantium autem incidunt nihil eaque ex voluptatem dolore officiis labore est perspiciatis amet quidem totam voluptatibus, reprehenderit ab similique alias illum ipsum, consectetur numquam consequuntur molestiae? Reprehenderit quos amet sint, magni facilis voluptatem excepturi sequi inventore.</p>
        
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                SignIn
            </a>
            <a class="btn btn-primary" href="/signup/">
                SignUp
            </a>
        </div>
        
    </section>
</main>


{% endblock %}